body > .container {
  padding-top: 32px;
  max-width: 720px;
}

#avatar img {
  width: 64px;
  height: 64px;
  float: right;
  margin-top: 16px;
}
body > .container .row {
  margin-bottom: 32px;
}

.row.right {
  text-align: right;
}

.tech-logo {
  max-width: 96px;
  max-height: 48px;
}

#location_map iframe {
  width: 100%;
}

.employer-logo img {
  width: 50%;
  height: auto;
}